[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {version="=4.57.1", index="pypi"}
#torch = {version="=2.7.1", index="pypi"}
matplotlib = {version="== 3.10.7", index="pypi"}
tqdm = {version="== 4.67.1", index="pypi"}
numpy = {version="== 2.3.4", index="pypi"}
torchvision = {version="== 0.24.0", index="pypi"}
jupyter = {version="==1.1.1", index="pypi"}
ipykernel = {version="==7.1.0", index="pypi"}
